<% @order_items.each do |item| %>
<tr>
  <% product = Product.find(item.product_id) %>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
   <%= item.quantity.to_i %>
  </td>
  <td>
   <%= humanized_money_with_symbol product.price * item.quantity.to_i %>
  </td>
</tr>
<% end %>
